function Sys.init 0
push constant 10
pop local 0
push constant 20
pop argument 0
push constant 3000
pop pointer 0
push constant 4000
pop pointer 1
push constant 50
pop this 0
push constant 60
pop that 0
push constant 70
pop temp 0
push constant 80
pop static 0
push local 0
push argument 0
add
push this 0
add
push that 0
add
push temp 0
add
push static 0
add
pop temp 1
push constant 10
push constant 10
eq
not
if-goto ERROR
push constant 20
push constant 10
gt
not
if-goto ERROR
push constant 10
push constant 20
lt
not
if-goto ERROR
push constant 100
push constant 200
call Sys.addTwo 2
pop temp 2
goto END
label ERROR
push constant 9999
pop temp 7
label END
goto END
function Sys.addTwo 0
push argument 0
push argument 1
add
return